h1 {
	text-align: center;
}
.kiri {
	text-align: left;
}
.kanan {
	text-align: right;
}
.kiridankanan {
	text-align: justify;
}

h2 {
	text-align: center;
}
.kiri {
	text-align: left;
}
.kanan {
	text-align: right;
}
.kiridankanan {
	text-align: justify;
}